  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     
      <style>
      h1{
        text-align: center;
      }
      .nav-wrapper{
        margin: 20px;
        text-align: center;
      }
      section{
        text-align: center;
        margin: auto;
        display: block;
        width: 70%;
        padding: 10px;
      }
    
        </style>
    </head>
    <title>walkbrain</title>
    <body>
      <header>
    <nav>
      <div class="nav-wrapper">
        <a href="http://localhost:3000/" class="brand-logo">walkbrain</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="login">로그인</a></li>
            <li><a href="loginform">회원가입</a></li>
            <li> <a href="memberlist">회원정보list</a></li>
          </ul>
      </div>
    </nav>
  </header>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  
  <section>

      <div class="row">

          <div class="col s4">
            <!-- Promo Content 1 goes here -->
            <div class="row">
                <div class="col s12 m7">
                  <div class="card">
                    <div class="card-image">
                      <img src="">
                      <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                      <p></p>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col s4">
            <!-- Promo Content 2 goes here -->
            <div class="row">
                <div class="col s12 m7">
                  <div class="card">
                    <div class="card-image">
                      <img src="">
                      <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                      <p></p>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col s4">
            <!-- Promo Content 3 goes here -->
            <div class="row">
                <div class="col s12 m7">
                  <div class="card">
                    <div class="card-image">
                      <img src="">
                      <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                      <p></p>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
    
        </div>

  </section>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Walkbrain Co., LTD.</h5>
            <p class="grey-text text-lighten-4">+82(02)467-3440 &nbsp;
                &nbsp;
                helpdesk@walkbrain.com</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
            © 2018 PETKEEPER. Company Name: Walkbrain Co., LTD. | CEO : Choi Choong Gwang | Corporate Registration Number: 314-86-64872 | Address : #407, 5, Seongsuil-ro 8-gil, Seongdong-gu, Seoul, Republic of Korea | Privacy Officer: Seong Sam Ki E-commerce Registration: 2017-서울성동-1448호 Copyrightⓒ WALKBRAIN. All rights Reserved.
            PETKEEPER is a brand registered by the Walkbrain Co., LTD.
        </div>
      </div>
    </footer>
    </body>
  </html>